extends templates/layout

block content
  img(src="img/test.gif", alt="", srcset="")
  img(src="img/test.jpg", alt="", srcset="")
  img(src="img/test.png", alt="", srcset="")
  img(src="img/gulp-white-text.svg", alt="", srcset="")
  h1 어썸d